/* Common CSS */
.project-logo {
  border-radius: 50%;
  margin: 5px;
}

.project-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
@media (min-width: 600px) {
  /* Desktop Mode */
  .project-logo {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 600px) {
  /* Mobile View */
  .project-logo {
    width: 45px;
    height: 45px;
  }
}
