/* Common CSS */

.mayank-img {
  border-radius: 50%;
  margin: auto;
}

.left-card {
  text-align: center;
  margin: 5px;
}
@media (min-width: 600px) {
  /* Desktop Mode */
  .mayank-img {
    width: 40%;
  }
}

@media (max-width: 600px) {
  /* Mobile View */
  .mayank-img {
    width: 85%;
  }
}
